
.comments {
    border: 1px solid #F6F7F9;
    border-radius: 3px;
    padding: 10px;
}

.comments__stats {
    border-bottom: 1px solid #e9eaed;
    margin-bottom: 25px;
    padding: 8px 0;

    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
}

.comment-avatar {
    width: 48px;
    height: 48px;
    float: right;
}
.comment {
    display: flex;
    align-items: center;
}
.comment,
.comment-form {
    overflow: hidden;
}

.comment__body {
    margin-right: 20px;
}
.comment-form__container {
    margin-right: 56px;
}

.comment__author3 {
    display: none;
}

@media (max-width: 500px) {
    .comment__author2 {
        display: none ;
    }
    .comment__author3 {
        display: block;
    }
}
.comment-form__message {
    display: block;
    width: 100%;
    border: 1px solid #d3d6db;
    font-size: 14px;

    height: 48px;
    padding: 10px;

    resize: vertical;

    ::-webkit-input-placeholder {
        opacity: 1;
        color: #c0c0c0;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        opacity: 1;
        color: #c0c0c0;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        opacity: 1;
        color: #c0c0c0;
    }
    :-ms-input-placeholder {
        opacity: 1;
        color: #c0c0c0;
    }
}

.comment-form__controls {
    position: relative;
    display: none;

    padding: 8px;

    border: 1px solid #d3d6db;
    border-top: 0;
    background: #f6f7f8;
    text-align: right;
}

.comment-form__author {
    position: absolute;
    left: 8px;
    right: 100px;
    top: 9px;
    text-align: left;
}

.comment-form__author input {
    width: 100%;
    max-width: 200px;
    height: 24px;
    outline: none;
}

.comment-form__submit {
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);

    padding: 0 8px;
    border: 1px solid #435a8b;
    border-radius: 2px;
    background-color: #4e69a2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.comment-form.is-active .comment-form__message {
    height: 72px;
    padding: 15px 10px;
}

.comment-form.is-active .comment-form__controls {
    display: block;
}

.comment-form__submit:hover {
    opacity: 0.9;
}

.comments-list {
    margin: 20px 0;
}

.comment {
    font-size: 14px;
    margin-top: 12px;
}

.comment__author {
    color: #3b5998;
    font-weight: bold;
    line-height: 1.4;
    font-size: 12px;
    font-family: Arial;
}

.comment__text {
    word-break: break-word;
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 12px;
    line-height: 1.4;
    font-family: Arial;
}

.comment__date {
    text-align: left;
    color: #9197a3;
    font-size: 12px;
    padding-top: 10px;
}