.form_block input {
    outline: none;
    font-size: 16px;
    margin: 0 auto 6px;
    display: block;
    width: 305px;
    height: 50px;
    border-radius: 25px;
}

.sp{
    font: 18px/25px 'Arial', sans-serif;
}

.form_block input, textarea{
	font: 16px 'Arial', sans-serif;
	box-sizing: border-box;
	padding-right: 15px;
    color: #000;
    text-align: right;
	background-color: #fff;
    border: 1px solid #579bf9;
}
.tel{
    direction: ltr;
}
.form_block button, .button_a {
    cursor: pointer;
    outline: none;
    display: block;
    font-size: 40px;
	color: #fdf2d1;
	text-transform: uppercase;
	font-family: 'Arial', serif;
	font-weight: bold;
    text-decoration: none;
    width: 305px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
    text-align: center;
    border-radius: 40px;
	border: none;
	text-shadow: -0.848px 0.53px 0px rgba(0, 0, 0, 0.44);  
    box-shadow: -0.848px 0.53px 2px 0px rgba(0, 0, 0, 0.79);
    background: #82178c;
    transition: all 0.3s;
}

.button_a:focus, .button_a:visited{
    background: #82178c;
    color: #fdf2d1;
}

.form_block button:hover, .button_a:hover{
    background: #6c1374;
    color: #fff;
}
.form_block h1, footer h1, .header_page h1{
	color: #81188a;
	font: 36px/51px 'Castellar', 'Arial', sans-serif;
	margin: 0 auto;
    display: block;
    position: relative;
    z-index: 1;
    max-width: 1400px;
}
.address{
	outline: none;
    font-size: 16px;
	line-height: 22px;
    margin: 0 auto 10px;
    display: block;
    width: 305px;
    height: 66px;
    border-radius: 33px;
	resize: none;
	box-sizing: border-box;
	padding-top: 10px;
}
.sp{
	display: block;
	text-align: center;
}

.size{
    text-align: left;
    padding-left: 0;
	font: 16px/20px 'Arial', sans-serif;
}
.white{
    color: #000;
}
.black{
    color: #000;
}
.old-price{
	font: 20px/28px 'Arial', sans-serif;
	padding-top: 5px;
	text-decoration: line-through;
}
.new-price{
	color: #ef1c49;
	font: 25px/35px 'Arial Black', sans-serif;
}

header .form_block .old-price{
	font: bold 35px/35px 'Arial', sans-serif;
	padding-top: 5px;
	text-decoration: line-through;
}
 header .form_block .new-price{
    color: #ff0000;    
	font: bold 50px/65px 'Arial Black', sans-serif;
}
header .form_block .free_del{
    font-size: 28px;
    line-height: 34px;
    color: red;
    font-weight: bold;
}
.form_block .fhq{
    border: 1px dashed #000;
    border-radius: 8px;
    width: 320px;
    margin: 5px auto 10px;
}

.harry_up{
	font: bold 29px/36px 'Arial', sans-serif;
}
.limit{
	font: bold 24px/34px 'Arial', sans-serif;
}
.free_del{
	color: #ef1c49;
	font: bold 25px/30px 'Arial', sans-serif;
}
.time_left{
	font: bold 24px/34px 'Arial', sans-serif;
}

.timer .countDays, .timer .countDiv0{
   
	display: none;
} 

.form_block{
	width: 350px;
	margin: 15px auto 0;
	z-index: 99;
	position: relative;
    border-radius: 15px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.6);
}
.form_block form{
	padding-bottom: 20px;
	padding-top: 0px;
}

.time_left{
    font-size: 22px;
    line-height: 28px;
}

.discount{
	display: block;
    position: absolute;
    width: 100px;
    height: 100px;
	color: #fff;
	text-align: center;
	background: url(../img/fullsize_distr.png) no-repeat;
	background-size: contain;
	font: bold 26px/40px 'Arial', sans-serif;
}

#discount2{
	top: 80px;
    right: -30px;
}

#discount1{
	top: 80px;
    right: -30px;
}

.galaxy img{
    max-width: 50%;
}

@media (max-width: 1300px){
    .galaxy{
        height: auto;
        margin-bottom: 0;
        background: none;
    }
}

@media (min-width: 767px) {
    .abs {
        display: none;
    }
}

@media (max-width: 767px){
	.form_block{
		padding-top: 0;
	}
	.form_block h1, footer h1{
		text-align: center;
		margin-top: 0;
	}
	#discount2{
		top: 60px;
		right: -20px;
	}

	#discount1{
		top: 60px;
    	right: -20px;
	}

    .abs {
        margin-bottom: 20px;
    }
    
    header .form_block{
        background: rgba(#fff, .5);
        border-radius: 0;
    }
    .form_block{
        margin: 5px auto 0;
    }
    header .container{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .constructor img:nth-of-type(1), .constructor img:nth-of-type(2), .constructor img:nth-of-type(3){
        margin: 15px 0;
    }
    .desacr img:nth-of-type(1), .desacr img:nth-of-type(2){
        margin: 0 0 25px;
    }
    
    header .form_block .fhq{
        width: 100%;
    }
    header{
        padding-bottom: 0;
    }
    
    header .button_a{
        width: 95%;
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        margin: 0px auto;
    }
    .form_block h1, footer h1, .header_page h1{
        font-size: 16px;
        line-height: 30px;
    }
}

@media (max-width: 600px){
    header .form_block{
        width: 100%;
    }
    header .form_block .new-price{
        font-size: 33px;
        line-height: 43px;
    }
    header .form_block .old-price{
        font-size: 25px;
        line-height: 25px;
    }
    .time_left{
        font-size: 20px;
    }
    header .form_block .fhq{
        width: 100%;
    }
}

@media (max-width: 420px){
	#discount2{
		top: 60px;
		right: -0px;
	}

	#discount1{
		top: 60px;
    	right: -0px;
	}
    .galaxy img, .intro img, .desacr img{
        max-width: 100%;
        width: 100%;
    }
    header .button_a{
        width: 95%;
        font-size: 20px;
        line-height: 40px;
        height: 40px;
        margin: 0px auto;
    }
    header .form_block .fhq{
        width: 100%;
    }
    header .form_block .free_del {
        font-size: 20px;
    }
    header .sp{
        font-size: 16px;
        line-height: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px){
	.form_block{
		margin:  0 0 0 auto;
	}
    footer .left_head, head .left_head{
        width: 50%;
    }
}

@media (min-width: 992px){
	.form_block{
		margin:  0 20px 0 auto;
	}
}
@media (max-width: 359px){
    .form_block{
        width: 320px;
    }
}